/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff8a00, #da1b60);
    animation: gradientAnimation 10s ease infinite;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  